<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo01.dao.UserDao" >
    <!--resultMap对应的是表与实体类的映射  - type 数据库表对应的实体类，别名或完整类名都可以-->
    <resultMap id="ResultMap" type="com.example.demo01.model.User" >
        <!-- 结果集的主键 -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <!-- 普通的列  -column 是数据库中字段， property是实体类中字段-->
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
    </resultMap>

    <!--parameterType(输入类型)、resultType(输出类型)-->
    <select id="selectUser" parameterType="Integer" resultMap="ResultMap" >
        select * from user_tab where id = #{id}
    </select>
    <select id="searchUser"  resultMap="ResultMap" >
        select * from user_tab
    </select>
    <insert id="addUser" useGeneratedKeys="true"  keyProperty="id">
        insert into user_tab values(#{id},#{name},#{age})
    </insert>

</mapper>